/*BASE*/
.noticias {
  display: flex;
  justify-content: center;
}

.instagram-container, .noticias, .counter-box, .about-list, .Services-tab {
  margin-top: 2em;
  margin-bottom: 2em;
}

.counter-box, .service_tab_1, .contact-whatsapp img {
  box-shadow: 5px 5px 10px black;
}

/*COMPONENTS*/
.footer {
  background-color: #252525;
  width: 100%;
  text-align: left;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}
.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}
.footer .footer-left .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer .footer-left .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer .footer-left .icons {
  margin-top: 25px;
}
.footer .footer-left .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  color: #83fe00;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer .footer-center {
  width: 30%;
}
.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer .footer-center i .fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer .footer-center p a {
  color: #83fe00;
  text-decoration: none;
}
.footer .footer-right {
  width: 35%;
}
.footer .footer-right h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.footer .footer-right h2 span {
  color: #83fe00;
}
.footer .footer-right .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer .footer-right .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer .footer-right .menu a:hover {
  color: #83fe00;
}
.footer .footer-right .name {
  color: #83fe00;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }

  .footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i {
    margin-left: 0;
  }
}
.contact-whatsapp img {
  position: fixed;
  width: 50px;
  bottom: 20px;
  right: 10px;
  z-index: 9;
  border-radius: 20px;
}

/*Header - Menu superior*/
.social-part .fa {
  padding-right: 20px;
  color: #83fe00;
}

ul li a {
  margin-right: 20px;
}

/*Fin MENU =================================================================================*/
/*CAROUSEL =================================================================================*/
#myCarousel {
  position: relative;
  z-index: 1;
  background: url(../banners/broken-metal.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}

#myCarousel .container {
  max-width: 1430px;
}

#myCarousel .carousel-item {
  height: 100%;
  min-height: 550px;
}

#myCarousel .carousel-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

#myCarousel h4 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #83fe00;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-left: 25px;
}

#myCarousel p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f2f2f2;
  margin-left: 25px;
}

#myCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

#myCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

#myCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%;
}

#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.carousel-control-next, .carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0;
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

@supports (transform-style: preserve-3d) {
  .carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/*==================================================================*/
.container-portada {
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url(../images/digital-mixer-in-a-recording-studio-close-up.jpg);
  background-size: cover;
  animation: movimiento 20s infinite linear alternate;
}
.container-portada .capa-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-linear-gradient(left, black, #83fe00);
  opacity: 0.5;
}
.container-portada .container-details {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
}
.container-portada .container-details .details {
  width: 100%;
  max-width: 500px;
  position: relative;
  top: 20px;
  color: white;
}
.container-portada .container-details .details h1 {
  font-size: 40px;
  font-weight: 100;
  margin-left: 10px;
}
.container-portada .container-details .details p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}
.container-portada .container-details .details button {
  color: #f2f2f2;
  background: #252525;
  font-size: 1em;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  transition: background 300ms;
  cursor: pointer;
}
.container-portada .container-details .details button:hover {
  color: #252525;
  background-color: #f2f2f2;
  border-radius: 4px;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
@media screen and (max-width: 500px) {
  .details p {
    font-size: 18px;
  }
}
/*BOX INFO*/
.folded-corner {
  padding: 60px 30px;
  position: relative;
  transition: all ease 0.5s;
}
.folded-corner:hover {
  background-color: #f2f2f2;
}
.folded-corner:hover .text {
  visibility: visible;
  color: #252525;
}

.service_tab_1 {
  background-color: #252525;
}
.service_tab_1:hover .fa-icon-image {
  color: #252525;
  transform: scale(1.1);
}
.service_tab_1 .text {
  color: #f2f2f2;
  text-align: center;
}

.fa-icon-image {
  color: #83fe00;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-size-adjust: none;
  font-stretch: normal;
  text-rendering: auto;
  transition: all 0.65s linear 0s;
  text-align: center;
  transition: all 1s cubic-bezier(0.99, 0.82, 0.11, 1.41);
}

/*=================================================================*/
/*===============================================================*/
/*SECTION INFO Y SERVICIOS */
.about-list {
  padding: 0;
}
.about-list .icon-box h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}
.about-list .icon-box i {
  font-size: 48px;
  float: left;
  color: #83fe00;
  margin-right: 10px;
}
.about-list .icon-box p {
  font-size: 15px;
  color: #252525;
  margin-left: 60px;
}
.about-list .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*=================================*/
/*COUNTER UP*/
.counter-box {
  display: block;
  background: #f2f2f2;
  padding: 40px 20px 37px;
  text-align: center;
}
.counter-box p {
  margin: 5px 0 0;
  padding: 0;
  color: #252525;
  font-size: 18px;
  font-weight: 500;
}
.counter-box i {
  font-size: 60px;
  margin: 0 0 15px;
  color: #252525;
}
.counter-box:hover {
  background-color: #83fe00;
  cursor: pointer;
  transform: scale(1.1);
}

.counter {
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #252525;
  line-height: 28px;
}

/*================================================*/
/*BRANDS SECTION */
.box {
  padding: 40px 30px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  background-color: white;
}
.box:hover {
  box-shadow: 2px 2px 10px #a5a5a5;
  transform: scale(1.03);
}

.text-muted {
  margin: 0;
  font-size: 0.9rem;
  text-decoration: none;
}

.rounded-circle {
  width: 120px;
  height: 120px;
}
.rounded-circle .img-brand {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

/*===========================================*/
.noticias .notice-container {
  display: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noticias .notice-container .product img {
  width: 300px;
  height: 300px;
}
.noticias .notice-container .product-info {
  display: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px 10px;
}
.noticias .notice-container .product-info button {
  color: #f2f2f2;
  background: #252525;
  font-size: 1em;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  transition: background 300ms;
  cursor: pointer;
}
.noticias .notice-container .product-info button:hover {
  color: #252525;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/*REDES SOCIALES */
.instagram-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

/*FORMULARIO*/
.form-container {
  border-radius: 4px;
  background: #f2f2f2;
  padding: 20px;
  max-width: 800px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #252525;
  color: #f2f2f2;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #83fe00;
  border-radius: 4px;
  color: #f2f2f2;
}

* {
  font-family: "raleway", sans-serif;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
