@import "../scss/base/import";




* {
    font-family: "raleway", sans-serif;
}


.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}





