@import "../scss/base/import";




* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}


/*BOTONES*/
.btn-primary {
    background-color: transparent;
    border-color: $color-secundario;

    &:hover {
        color: $color-primario;
        background: $color-secundario;
        border-color: transparent;
    }
}





