@import "../scss/base/import";

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}


/*BOTONES*/


.button {
    @include button ($color-secundario,$color-primario,$color-primario,$color-terciario)
     }





