
/*REDES SOCIALES */

.instagram-container {
    @extend %margin;

    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}


/*FORMULARIO*/


.form-container {
    border-radius: $border-radius;
    background: $color-terciario;
    padding: 20px;
    max-width: 800px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $color-terciario;
    border-radius: $border-radius;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: $color-primario;
    color: $color-terciario;
    padding: 12px 20px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
        background-color: $color-secundario;
        border-radius: $border-radius;
        color: $color-terciario;
    }
}