/*Header - Menu superior*/

#wrapper{
    padding:90px 15px;
}
.navbar-expand-lg .navbar-nav.side-nav{
    flex-direction: column;
}

.card {
    margin-bottom: 15px;
    border-radius:0; 
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
}

.header-top {
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}
.leftmenutrigger {
    display: none

}
@media (min-width:992px) {
.leftmenutrigger{
    display: block;
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer;
}
#wrapper {
    padding: 90px 15px 15px 15px; 
}

.navbar-nav.side-nav.open {
    left:0;
}
.navbar-nav.side-nav{
    background: #585f66;
    box-shadow: 2px 1px 2px rgba(0,0,0,.1);
    position:fixed;
    top:56px;
    flex-direction: column!important;
    left:-220px;width:200px;
    overflow-y:auto;
    bottom:0;overflow-x:hidden;
    padding-bottom:40px
}
}
.animate{
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}



/*Fin HEADER =================================================================================*/

/*PORTADA =================================================================================*/

.container-portada {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../images/digital-mixer-in-a-recording-studio-close-up.jpg);
    background-size: cover;
    animation: movimiento 20s infinite linear alternate;

    .capa-gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        background: -webkit-linear-gradient(left, black, $color-secundario);
        opacity: 0.5;
    }

    .container-details {
        width: 100%;
        max-width: 1200px;
        position: relative;
        margin: auto;

        .details {
            width: 100%;
            max-width: 500px;
            position: relative;
            top: 20px;
            color: white;
           
            h1 {
                font-size: 40px;
                font-weight: 100;
                margin-left: 10px;
            }

            p {
                margin-top: 10px;
                font-size: 20px;
                font-weight: 100;
                margin-left: 10px;
            }

            button {
                @include button ($color-terciario, $color-primario, $color-primario, $color-terciario)
            }
        
        } 
       
    }
    


}

@keyframes movimiento {
    from {
        background-position: bottom left;
    }to {
        background-position: top right;
    }
}

@media screen and (max-width: 500px) {
    .details p {
        font-size: 18px;
    }
}