

/*Header - Menu superior*/


.social-part {


  .fa {
    padding-right:20px;
    color: $color-secundario;
  }

}


ul li a{
  margin-right: 20px;
}

.bg-light {
  background-color: $color-primario !important;
}

.navbar-light .navbar-nav .nav-link {
  color: $color-terciario;
 

  &:hover {
    color: $color-secundario;
   
  }

}

.navbar-nav {
  margin-left: 20px;
}

.dropdown-menu {
  background-color: $color-primario;
  color: $color-terciario;

    .dropdown-item {
      background-color: $color-primario;
      color: $color-terciario;

        &:hover {
        color: $color-secundario;
      
        }
    }
}



/*Fin MENU =================================================================================*/
