

    

/*SERVICIOS*/

.service {
    background-color: #eeeeee;
    padding: 50px 50px;
    max-width: 100%;
}


/*===============================================================*/
/*CATEGORIAS */

.ctn {
    position: relative;
    width: 100%;
}

.img-menu {
    width: 100%;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


.ctn:hover .overlay {
    opacity: 1;
}


/*===================================*/
/*MENU PRODUCTS*/













.about-list {
    @extend %margin;
    padding: 0;
   
    

    .icon-box {
        

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin: 5px 0 10px 60px;
        }

        i {
            font-size: 48px;
            float: left;
            color: $color-secundario;
            margin-right: 10px;
           
        }

        p {
            font-size: 15px;
            color: $color-primario;
            margin-left: 60px;
            
        }

    }

    .image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
    }

    
}





/*=================================*/


/*COUNTER UP*/



.counter-box {

    @extend %margin;
    display: block;
    background: $color-terciario;
    padding: 40px 20px 37px;
    text-align: center;
    @extend %box-shadow;

    p {
        margin: 5px 0 0;
        padding: 0;
        color: $color-primario;
        font-size: 18px;
        font-weight: 500
    }

    i {
        font-size: 60px;
        margin: 0 0 15px;
        color: $color-primario
    }

    &:hover {
        background-color: $color-secundario;
        cursor: pointer;
        transform: scale(1.1);
    }
}


.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: $color-primario;
    line-height: 28px
}

/*BOTONES*/
.btn-primary {
    background-color: transparent;
    border-color: $color-secundario;

    &:hover {
        color: $color-primario;
        background: $color-secundario;
        border-color: transparent;
    }
}

/*================================================*/
/*BRANDS SECTION */

.brands {
    min-height: 100vh;
  
}


.bg-brand {
    background-color: black;
}



/*===========================================*/



.noticias {
    @extend %flex;
    @extend %margin;
   

    .notice-container {
        @include flexbox(center, center, center, column);

        .product {
            img {
                width: 300px;
                height: 300px;
            }
    }

    .product-info {
        @include flexbox(center, center, center, column);
        margin: 5px 10px;

        button {
            @include button ($color-terciario,$color-primario,$color-primario,$color-terciario)
             }

        }
    }
 }



    